@use './variables';
@use './header';
@use './footer';
@use './home';


/* === RESET GLOBAL === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--font-main);
  background-color: var(--cannelle-beige);
  color: var(--cannelle-vert);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-family: var(font-main);
  font-size: 1rem;
  color: var(--cannelle-beige);


}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 2px solid var(--cannelle-vert);
  outline-offset: 4px;
  border-radius: 4px;
  position: relative;
  z-index: 10;

}

